.page {
    width: 320px;
    height: 500px;
    background:linear-gradient(to right, #142040, #000a23);;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
    margin: 0 auto;
}



.form__input {
    outline: none;
    height: 20px;
}

.form_close {
    display: none;
}

.button {
    height: 40px;
    width: 70%;
    background: #fff;
    font-size: 16px;
    color: #010b24;
    outline: none;
    transition: all 200ms ease;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    /* top: 40%;
    position: absolute; */
}

.form__button {
    height: 20px;
    width: 30%;
    background: #fff;
    font-size: 16px;
    color: #010b24;
    outline: none;
    transition: all 200ms ease;
    cursor: pointer;
    border-radius: 3px;
    border: none;
}

.form__title {
    margin: 0;
    letter-spacing: 0.01em;
    font-weight: 600;
    font-size: 24px;
    background: linear-gradient(170.9deg, #c3a882 -11.53%, #7685aa 115.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10%;
}

.title {
    margin: 0;
    letter-spacing: 0.01em;
    font-weight: 600;
    font-size: 24px;
    background: linear-gradient(170.9deg, #c3a882 -11.53%, #7685aa 115.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10%;
    width: 60%;
}

.text {
    /* position: absolute; */
    /* top: 60%; */
    font-size: 32px;
    margin: 0;
    margin-top: 20px;
    text-align: center;
}